<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
       <p>URL Genrated : http://localhost:8000/url/<%= locals.id  %></p>
    <% } %>
    <div>
        <form action="/url" method="POST">
            <label for="#url">Enter Url :</label>
            <input type="text" name="url" id="url" placeholder="http://example.com">
            <button type="submit">Genrate</button>
        </form>
    </div>

 <div>
    <% if (locals.urls) { %>
        <table border="1" style="margin-top: 50px;">
           <thead>
              <tr>
                 <th>Sr. No</th>
                 <th>Short Id</th>
                 <th>Redirect URL</th>
                 <th>Clicks</th>
              </tr>
           </thead>
           <tbody>
             <% urls.forEach((item, index) => { %>
               <tr>
                 <td><%= index + 1 %></td>
                 <td><%= item.shortId %></td>
                 <td><%= item.redirectUrl %></td>
                 <td><%= item.visitHistory.length %></td>
               </tr>
             <% }) %>
           </tbody>
        </table>
     <% } %>
 </div>

</body>
</html>